<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB0eUn8Z91kdFxi2dErsGUXJeAtCemTMc8</string>
	<key>GCM_SENDER_ID</key>
	<string>824667822746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jixcayau.alertify</string>
	<key>PROJECT_ID</key>
	<string>alertify-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>alertify-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824667822746:ios:b8365ccf2dc06103f75d23</string>
</dict>
</plist>